<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clinic Application</title>
</head>
<body>

<h1>Edit an existing patient</h1>
<form th:action="@{/patients/update}" th:object="${patientDto}" method="post">
    <p>Id: <input type="text"  th:readonly="true" th:field="${patientDto.id}"/></p>
    <p>Title: <input type="text" th:field="${patientDto.name}"/></p>
    <p>Author: <input type="number" th:field="${patientDto.icn}"></p>
    <p>Genre: <input type="text" th:field="${patientDto.pnc}"/></p>
    <p>Quantity: <input type="text" th:field="${#dates.format(patientDto.dateOfBirth, 'yyyy-MM-dd')}"/></p>
    <p>Price: <input type="text" th:field="${patientDto.address}"/></p>
    <p>
        <button>Save</button>
    </p>
</form>

<div th:if="${param.success}">
    Patient successfully updated!
</div>

<a th:href="@{/patients}">List of patients</a>
</body>
</html>