<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Clinic Application</title>
</head>
<body>
<h1>Add a new user</h1>
<form th:action="@{/users/create}" th:object="${user}" method="post">
    Username: <input type="text" name="username" th:field="${user.username}"/>
    Password: <input type="password" name="password" th:field="${user.password}"/>
    Role: <input type="role" name="role" th:value="*{role}"/>
    <button>Create</button>
</form>

<div th:if="${param.success}">
    User created successfully!
</div>
<a th:href="@{/users}">List of users</a>
</body>
</html>