<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Clinic Application</title>
</head>
<body>
<h1>Administrator Application</h1>
<h3>List of users</h3>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Username</th>
    </tr>
    <tr th:each="user: ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td><a th:href="@{/users/edit/(id=${user.id})}">Edit</a></td>
    </tr>
</table>

<h3>Enter the id of the user you want to delete:</h3>
<p>
<form th:action="@{/users/delete}" method="get">
    <input type="text" name="id" th:value="*{id}">
    <button type="submit">Delete</button>
    <div th:if="${param.success}">
        User successfully deleted!
    </div>
</form>
</p>

<p><a th:href="@{/users/create}">Create a new user</a></p>
<p><a th:href="@{/admin}">Back</a></p>

</body>
</html>